table.default-table
    tr
        th 商号
        td 株式会社エム・マーケティング
    tr
        th 代表者
        td 原田正文
    tr 
        th 設立
        td 2015年7月
    tr
        th 資本金
        td 1,000千円
    tr 
        th 事業内容
        td 社会人向けの教育講座の提供
            br
            |及びその講師のプロデュース事業
            br
            |広告代理事業
    tr
        th 売上高
        td 940,000千円
    tr
        th 主要取引先銀行
        td 三井住友銀行
            br
            |みずほ銀行
            br
            |りそな銀行
            br
            |城南信用金庫
            br
            |さわやか信用金庫
    tr
        th 電話番号
        td 03-6804-5580
    tr
        th 受付時間
        td 10:00 〜 18:00
    tr
        th 本社所在地
        td 下記
            a(href="#access") アクセス情報
            |に記載



