
nav 
    include naviitems.jade
nav 
    ul
        li 
            a(href="#{depth}sublayers/datis") 数字で見るエム・マーケティング
.info
    .copy-right
        p.footer-text &copy; <?php echo Date('Y'); ?>
            a(href="#{depth}") 株式会社エム・マーケティング 
    .legal-link
        a(href="#{depth}sublayers/privacypolicy").footer-text プライバシーポリシー
        a(href="#{depth}sublayers/tokusho").footer-text 特定商法取引法に基づく表示