
//- 代表メッセージ文
p エム・マーケティングは、「知と希望にあふれた社会を創る」ことを
    |経営ビジョンとして掲げております。 
    |いつでも、どこでも、情報にアクセスできる時代においては、
    |自分に必要な情報を見極める事が非常に大切です。 
    |しかし、自分にとって必要な情報・サービスを判断する事は時に
    |パラダイムシフトが必要となる為、容易ではありません。
    |不確実性の高いこの世の中で、良い情報・サービスを分かりやすく世間に伝え、
    |関わる全ての方々に本当に必要な情報・サービスを届けたい。 我々はそんな熱い想いを持ち、
    |日々挑戦しております。 価値を見える化し、革新的なマーケティング力で各業界を牽引し、
    |世界中の人々から必要とされる企業であり続けるため、果敢に挑戦し、自らも進化を続けて参ります。
p.sign
    |株式会社エム・マーケティング
    br
    |原田正文　