

article
    .inner
        .inroduction
            p エム・マーケティングってどんな会社？
                br
                |どんな人が働いているの？業績は？
                br
                |など、さまざまな疑問に
                br
                |データでお答えします。
        .main-contents
            figure.sp
                img(src="images/spcontents.svg" oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;")
            figure.pc
                img(src="images/pccontents.svg" oncontextmenu="return false;" onselectstart="return false;" onmousedown="return false;")
