
@import "../../../include/css/variables.scss";
@import "../../../include/css/mixin.scss";

// ファーストビューの背景設定
#sublayer-background{

    @include flex_template_1(center,center);

}

h2{
    padding: 1.5em 0;
    text-align:left;
}

ul,ol{
    padding-left: 2em;
}
p,li{
    line-height: 2em;
}

p{
    > ul , ol{
        li{
            > ol{
                li{
                    list-style: none;
                    counter-increment: cnt;
                    &:before{
                        content: "(" counter(cnt) ") ";
                    }
                }
            }
        }
    }
}
.alphabet{
    list-style-type: upper-latin;
}