.swiper-container
    .swiper-wrapper
        .swiper-slide
            .inner
                .image-wrapper
                    figure  
                        img(src="images/31.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 9:30 出社・案件数値確認
                    .body-text-wrapper
                        p 各プロジェクトの売上やマーケティングのデータを確認してメンバーに指示を出したり、会社に報告します。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/32.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 11:00 社内MTG
                    .body-text-wrapper
                        p 各プロジェクトのリーダーやプロデューサーや、他のメンバーとの打ち合わせマネジメントをおこないます。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/33.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 15:00 取引先MTG
                    .body-text-wrapper
                        p 取引先やクライアントとの商談や打ち合わせをおこないます。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/34.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 17:00 社内業務
                    .body-text-wrapper
                        p 1日のたまったデスクワークをおこないます。メール、チャットの返信や書類作成などの時間です。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/35.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 18:30 メンバー日報確認
                    .body-text-wrapper
                        p メンバー退勤後の日報の確認や、業務が終わらないメンバーのフォロー、次の日のタスクを確認します。
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next