.swiper-container
    .swiper-wrapper
        .swiper-slide
            .inner
                .image-wrapper
                    figure  
                        img(src="images/21.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 9:30 タスク整理
                    .body-text-wrapper
                        p 1週間の予定を見ながら、デイリーのタスクを時間軸でします。また、朝はメールが沢山来ているので、確認して返信します。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/22.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 10:30 進捗確認MTG"
                    .body-text-wrapper
                        p 自分が携わる案件の進捗をアジェンダにまとめ、上長および社長に報告・相談します。フィードバック頂いた内容を今後の優先課題として対応していきます。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/23.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 11:30 説明会リハーサル
                    .body-text-wrapper
                        p プロモーション中案件の説明会が始まる前にコンテンツホルダーの先生と司会とでスライドの読み合わせ、当日のレイアウトを想定した動作などを行い、イメージングします。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/24.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 16:3０ 本講座カリキュラム作成
                    .body-text-wrapper
                        p 本講座の内容をまとめたパンフレットをイラストレーターで制作。PDFにして関係者に共有します。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/25.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 17:30 台本打合せ・MTG
                    .body-text-wrapper
                        p これからスタートするプロモーション案件のコンテンツホルダーの先生と撮影するビデオ台本の流れについて事前に読み合わせして、当日の流れを事前共有しておきます。
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next