.swiper-container
    .swiper-wrapper
        .swiper-slide
            .inner
                .image-wrapper
                    figure  
                        img(src="images/11.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 9:15 出社・作業確認
                    .body-text-wrapper
                        p 始業の15分前には出社するようにしています。その日の作業を確認して、一日の計画を立てます。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/12.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 10:00 定例会議
                    .body-text-wrapper
                        p メンバーの状況を確認し、決め事をします。事前に準備をしているので1時間で終わります。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/13.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 12:00 昼休憩
                    .body-text-wrapper
                        p 昼休憩は自由な時間に取ることができます。会社の周りにはお店が沢山あるのでランチには事欠きません。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/14.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 13:00 PC作業
                    .body-text-wrapper
                        p 午後からは集中して会社ホームページを作る作業を行います。昼食後は眠くなるのでコーヒー必須です。
        .swiper-slide
            .inner
                .image-wrapper
                    figure 
                        img(src="images/15.jpg")
                .text-wrapper
                    .heading-wrapper
                        h4 18:30 日報作成・退勤
                    .body-text-wrapper
                        p 簡単な日報を書いたら退勤です。翌日は写真撮影の予定があるのでカメラのメンテナンスもしておきます。
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next