section.lower-section
    .inner
        .heading
            h2
                figure
                    img(src="images/ttl3sp.svg")


        section.subsection.empyee-comment
            .left-pane
                .image-wrapper
                    figure
                        img(src="images/hayashi_sat.png")
            .right-pane
                h3 未経験からマネージャーに！
                    br
                    |誰にでもチャンスがあります！
                p 入社当時にWeb広告を担当し、マーケティングの知識とスキルを身に着けました。
                    |未経験の業界でしたが今ではマネージャーを任され、プロジェクト管理のスキルを学んでいます。
                    |今後はメンバーを先導し、事業拡大に貢献したいと考えています。

        section.subsection.employee-profile
            .employee-info  
                h3 林友哉さん
                .info-body
                    .row
                        .cell   
                            .cell-header
                                p 趣味
                            .cell-body
                                p ▶建築鑑賞
                        .cell
                            .cell-header
                                p 特技
                            .cell-body
                                p ▶DIY
                    .row
                        .cell   
                            .cell-header    
                                p 好物
                            .cell-body
                                p ▶甘いもの全般
                        .cell
                            .cell-header
                                p 苦手
                            .cell-body
                                p ▶遊園地
                .day
                    include carousel_hayashi.jade