section.lower-section
    .inner
        .heading
            h2
                figure
                    img(src="images/ttl1sp.svg")

        section.subsection.empyee-comment
            .left-pane
                .image-wrapper
                    figure
                        img(src="images/ishida_sat.png")
            .right-pane
                h3 初めてのWeb業界。
                    br
                    |毎日が新鮮です！
                p 初めてのWeb業界。勉強と実用が並走する日々です。
                    |多くの事を学べる今の環境は大変ですが、新鮮な気持ちで充実した毎日を過ごしています。
                    |今後はWebのプロとして知見を深め、更に新しい事にチャレンジして行きたいと思っています！
                
        section.subsection.employee-profile
            .employee-info  
                h3 石田拓也さん
                .info-body
                    .row
                        .cell   
                            .cell-header
                                p 趣味
                            .cell-body
                                p ▶植物の世話
                        .cell
                            .cell-header
                                p 特技
                            .cell-body
                                p ▶水彩画
                    .row
                        .cell   
                            .cell-header    
                                p 好物
                            .cell-body
                                p ▶味の濃いもの
                        .cell
                            .cell-header
                                p 苦手
                            .cell-body
                                p ▶ほうれん草
                .day
                    include carousel_ishida.jade