section.lower-section
    .inner
        .heading
            h2
                figure
                    img(src="images/ttl2sp.svg")


        section.subsection.empyee-comment
            .left-pane
                .image-wrapper
                    figure
                        img(src="images/nanri_sat.png")
            .right-pane
                h3 やる気重視！
                    br
                    |成長を実感出来る環境！
                p この会社に入ってWebやマーケティングの知識から社会人としてマナーや仕事に取り組む姿勢まで学ぶ事が出来ました。
                    |今後は、状況を問わず及第点以上の成果を出し「あの人に任せておけば大丈夫」と、
                    |信頼される存在になりたいです。

        section.subsection.employee-profile
            .employee-info  
                h3 南里大将さん
                .info-body
                    .row
                        .cell   
                            .cell-header
                                p 趣味
                            .cell-body
                                p ▶筋トレ
                        .cell
                            .cell-header
                                p 特技
                            .cell-body
                                p ▶球技・縄跳び
                    .row
                        .cell   
                            .cell-header    
                                p 好物
                            .cell-body
                                p ▶抹茶菓子
                        .cell
                            .cell-header
                                p 苦手
                            .cell-body
                                p ▶納豆
                .day
                    include carousel_nanri.jade